<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        body{
            background-color: #212121;
            color: white;
            display: flex;
            flex-direction: column;
            height: 80vh;
            justify-content: center;
            align-items: center;
        }
        h1{
            font-size: 70px;
        }

        a{
            text-decoration: none;
            border: 2px solid white;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 0px 10px;
            color: white;
            font-size: 20px;
        }

        a:hover{
            padding: 11px 21px;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <h1>Welcome To HomePage</h1>
    <div class="buttons">
        <a href="#">LogIn</a>
        <a href="#">SignUp</a>
    </div>
    
</body>
</html>